<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<% @photos.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <div class="col-md-1">
    </div>
    <% group.each do |photo| %>
      <div class="col-md-2 center-cropped" style="background-image: url('<%= photo.image %>');">
        <a href="/photos/<%= photo.id %>"><img src="<%= photo.image %>" /></a>
      </div>
    <% end %>
  </div>
<% end %>
