.navbar-brand {
  font-family: "Grand Hotel", cursive;
}

body {
  background-color: #f6f6f6;
}

img {
  width: 100%;
}

.panel-heading, .panel-footer {
  background: white !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo-posts {
  padding: 0px;
}

a {
  color: black;
}

.time {
  text-align: right;
  color: grey;
}

.center-cropped {
  width: 300px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.image-thumb {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
}

.center-cropped:hover .image-thumb {
  -webkit-filter: brightness(60%);
}

.center-cropped .text {
  position: absolute;;
  bottom: 130px;
  left: 110px;
  visibility: hidden;
}

.center-cropped:hover .text {
  visibility: visible;
  color: white;
  text-decoration: none;
}

.user-stuff {
  padding-top: 50px;
}

.user-page {
  padding-bottom: 25px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
